<div class="ms-footer">
 <div class="body">
  <div class="top">
   <div class="top-left">
     {ms:channel flag='nav,c' type='top'}
    <div class="foot-nav">
     <a href="{ms:global.url/}${field.typelink}" class="nav-item"> ${field.typetitle}</a>
      {ms:channel}
      <div>
       <a href="{ms:global.url/}${field.typelink}" class="item"> ${field.typetitle} </a>
      </div>
      {/ms:channel}
    </div>
    {/ms:channel}
   </div>
   <div class="top-right">
    <div class="qr">
     <img title="" alt="" src="/{ms:global.style/}/images/sw.png" class="pic">
     <span class="text"> 商务微信 </span>
    </div>
    <div class="qr">
     <img title="" alt="" src="/{ms:global.style/}/images/gzh.png" class="pic">
     <span class="text"> 公众号 </span>
    </div>
   </div>
  </div>
  <span class="copyright"> <el-link href="https://www.juxingyunzhi.cn/" type="primary">© 佛山市聚兴韵智纺织有限公司</el-link> 2021-至今 All Rights Reserved. </span>
  <span class="power">
   <el-link href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44060402002314" type="primary">京公网安备 44060402002314</el-link>&nbsp;&nbsp;
   <el-link href="https://beian.miit.gov.cn/" type="primary">粤ICP备2022030386号-1</el-link>
  </span>
 </div>
</div>
